<h1>Update your Company</h1>

<div class="row">
<div class="span6 offset3">

<%= form_for(@company) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>

  <%= f.label :teaser %>
  <%= f.text_area :teaser %>

  <%= f.fields_for :address do |address| %>
  	<%= render 'shared/address', f: address %>
  <% end %>  

  <%= f.submit "Update", class: "btn btn-large btn-primary" %>
<% end %>

</div>
</div>