<div id="company-carousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#company-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#company-carousel" data-slide-to="1"></li>
  </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

    	<div class="item active">
    	<%= image_tag @headers.first.image.url(:carousel) %>
    	<div class="carousel-caption">
			<h1><%= @headers.first.title %></h1>
			<p class="lead"><%= @headers.first.caption %> <small class="edit-button"><%= link_to "Edit", company_headers_path(@company) %></small></p>
		</div>
    	</div>

    	<% @headers.drop(1).each do |header| %>
	    	<div class="item">
    		<%= image_tag header.image.url(:carousel) %>
    		<div class="carousel-caption">
    			<h1><%= header.title %></h1>
    			<p class="lead"><%= header.caption %> <small class="edit-button"><%= link_to "Edit", company_headers_path(@company) %></small></p>
			</div>
    		</div>
    	<% end %>

    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#company-carousel" data-slide="prev">
    <span class="icon-prev">‹</span>
  </a>
  <a class="right carousel-control" href="#company-carousel" data-slide="next">
    <span class="icon-next">›</span>
  </a>
</div>



<div class="container-fluid">

	<div class="container">
		<% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  	<% end %>
  	</div> 

	<div class="row-fluid">	
		<div class="span3 offset1">
			<div class="box-complete">
				<%= image_tag @company.logo.url %>
				<hr class="soften">
				<h1><%= @company.name %> is :</h1>
				<p><%= @company.teaser %> <small class="edit-button"><%= link_to "Edit", edit_company_path(@company)  %></small></p>
				<hr class="soften">
				<%= gmaps({
				  "map_options" => {"auto_zoom" => false, "zoom" => 14 },
				  "markers"     => {"data" => @json }
				 })
				%>
			</div>				
		</div>	

		<div class="span7">
			<div class="box-head">
				<h3>Mission Statement & Impact <small class="edit-button"><%= link_to "Edit", edit_mission_path(@mission)  %></small></h3>
			</div>
			<div class="box-main">	
					<p><%= @company.mission.statement %></p>
					<p><%= @company.mission.impact %></p>
			</div>
		

			<div class="box-head">
				<h3>3 Reasons you should join us <small class="edit-button"><%= link_to "Edit", edit_company_reason_path(@company, @reason)  %></small></h3>
			</div>
			<div class="box-main">	
				<p><%= @company.reason.why1 %></p>
				<p><%= @company.reason.why2 %></p>
				<p><%= @company.reason.why3 %></p>
			</div>

			<div class="box-head">
				<h3>Check out our pictures <small class="edit-button"><%= link_to "Edit", company_uploads_path(@company) %></small></h3>
			</div>

			<div class="box-main album">	
				<% @company.uploads.each do |upload| %>
					<%= image_tag upload.photo.url %>
				<% end %>
			</div>

		</div>
	</div>

	<div class="container">
		<br><%= link_to "Delete your company", @company, method: :delete, data: {confirm: "Are you sure ?"}, title: @company.teaser %>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('.carousel').carousel({
		  interval: 7000
		});
	});
</script>
