<div class="container">
<h1>Listing headers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Caption</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @headers.each do |header| %>
      <tr>
        <td><%= header.title %></td>
        <td><%= header.caption %></td>
        <td><%= link_to 'Show', [@company, header] %></td>
        <td><%= link_to 'Edit', edit_company_header_path(@company, header) %></td>
        <td><%= link_to 'Destroy', [@company, header], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Header', new_company_header_path %>
</div>